
.frontend{
text-align: center;


}

.h1color {
    color: grey;
}

.frontend img {
    width: 500px;
    margin-top: 1em;
    background-color:whitesmoke;
    
}

#color{
    background-color: ghostwhite;
}